{% extends "lens_layout.html" %}

<!--child block contains the premium tag, not parent block -->

{% block url %}
{{url}}
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<!-- Load c3.css -->
<link href="https://s3-us-west-2.amazonaws.com/lens-app-template/external_libraries/c3.js/c3.css" rel="stylesheet" type="text/css">

<!-- Load d3.js and c3.js -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js" charset="utf-8"></script>
<script src="https://s3-us-west-2.amazonaws.com/lens-app-template/external_libraries/c3.js/c3.js"></script>

<div class="row" id="name">
<div class="">

<style>
.lensred{
	color: #B43018
}
@media (max-width: 500px) {
	.row {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
}


</style>
<h4 class="subheader left lensred">Agency: {{name}}</h4>
</div>
</div>

<div class="row" id="totalworkers">
<div class="">
<h6 class="left">
Employees: {{totalworkers}}
</h6>
<h6 class="left">
Average Salary: {{average}}
</h6>
</div>
</div>

<div id="chart_title" class="centered">
<h6 class="centered" >Number of employees by salary</h6>
<div class="centered">
<div id="chart" class="">
</div>

<div class="row centered" id="highestpaid">
	<div class="centered">
	<h6>Highest paid workers:</h6>
	</div>
	{% for h in highestpaid %}

	<div class="highpaidworker">
		{{ h.first }} {{ h.last }} {{ h.annualsalary }}
	</div>

	<div>
	</div>
	{% endfor %}
</div>

<script>

c3.generate({
    data: {
        columns: [
           ['Workers' {% for n in histogramcounts %}, {{n}}{% endfor %}]
        ],
        type: 'bar'
    },
    axis: {
        x: {
            type: 'category',
            categories: [{% for l in histogramlabels %}'{{l}}',{% endfor %}]
            /*categories: ['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6'] */
        },
        y: {
            label: 'Count'
        }
    },
    bar: {
        width: {
            ratio: .9 // this makes bar width 50% of length between ticks
        }
    },
    color: {
        pattern: ['#B43018']
    }
});
</script>

{% endblock %}