{% extends "lens_layout.html" %}
{% block content %}
<div style="background-color:whitesmoke">
	Insert #content from content-provider
</div>
{% endblock %}

{#
{% block title %}Lens Salary Lookup{% endblock %}
{% block url %}
myurl
{% endblock %}
{% block content %}
<div class="row slim">
	<div class="small-12 medium-12 columns slim">
		<div class="small-12 columns">
			<input id="input_box" type="text" name="namesearch" placeholder="Search by last name or title">
		</div>
		<div class="small-2 columns">
			<button id="search_button" class="button postfix searchButton">Search</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-12 columns" id="search-examples">Example: Jindal or warden</div>
</div>
<div id="results" class="row">

</div>
{% endblock %}
#} 